<div class="row">
  <div class="span6 offset3">              
                <%= form_for @message do |f| %>
                  
                    <%= f.label :Unternehmen %>
                    <%= f.text_field :company_name %>
              
                    <%= f.label :Ansprechpartner %>
                    <%= f.text_field :name %>
              
                    <%= f.label :Emailadresse %>
                    <%= f.text_field :email %>
                 
                    <%= f.label :Telefonnummer %>
                    <%= f.text_field :phone %>
                    <div id="massage_field">
                    <%= f.label :Nachricht %>
                    <%= f.text_area :message %>
                    </div>
                    <%= f.submit "Nachricht senden", id: "submit_message"%>
                <% end %>
           </div>
         </div>